<h1>edit meme</h1>

<div class="container col-6 h">
  <%= simple_form_for (@meme) do |f| %>
    <div class="row">
      <div class="col-6">
        <%= f.input :title, class: "w-100" %>
      </div>
      <div class="col-6">
        <%= f.input :source, class: "w-100" %>
      </div>
    </div>
    <%= f.input :photo, as: :file %>
    <div class="border my-3"></div>
    <div class="row mb-2">
      <div class="col-6">
        <%= f.button :submit, class: "btn btn-success w-100" %>
      </div>
      <div class="col-6">
        <%= link_to "Delete meme", meme_path(@meme), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger w-100" %>
      </div>
    </div>
      <div>
        <%= link_to "Back to game", meme_path(@meme), class: "btn btn-dark w-100"%>
      </div>
    </div>
  <% end %>
