
<h1>all memestories</h1>


<%# CSS in _memecard.scss %>


<% @memes.each do |m| %>
  <div class="memecard-container">
    <div class="meme-title">
     <%= link_to m.title, meme_path(m)%>
    </div>

    <div class="meme-image">
        <%= cl_image_tag m.photo.key %>
    </div>

    <div class="meme-votes" data-controller="voter">

      <div class="upvote-container" >
          <p data-target="voter.count"><%= m.get_upvotes.size %></p>
          <a class="fas fa-angle-up" data-action="click->voter#refresh" href=""></a>
      </div>

      <div class="downvote-container" data-controller="voter">
        <p data-target="voter.count"><%= m.get_downvotes.size %></p>
        <a class="fas fa-angle-down" data-action="click->voter#refresh" href=""></a>
      </div>
    </div>
  </div>
<% end %>


<% if user_signed_in? %>
  <%= link_to "create meme", new_meme_path,class: "btn btn-primary" %>
<% else %>
  <%= link_to "Sign-in for sharing meme", user_session_path, class: "btn btn-primary" %>
<% end %>











