<h1>new meme</h1>

<div class="col-6 h">
  <%= simple_form_for (@meme) do |f| %>
    <div class="row">
      <div class="col-6">
        <%= f.input :title, class: "w-100" %>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <%= f.input :source, class: "w-100" %>
      </div>
    </div>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <div class="border my-3"></div>
    <div class="mb-2">
      <%= f.button :submit, class: "btn btn-success w-100" %>
    </div>
    <div>
      <%= link_to "Back to memestories", memes_path, class: "btn btn-dark w-100"%>
    </div>

  <% end %>
</div>
