<h1>new meme</h1>

<div class="new-container">
  <%= simple_form_for (@meme) do |f| %>
    <div class="">
      <div class="">
        <%= f.input :title, class: "w-100" %>
      </div>
    </div>
    <div class="">
      <div class="">
        <%= f.input :source, class: "w-100" %>
      </div>
    </div>
    <div class="">


      <div class="">
        <%= f.input :usertag_list, label: "enter your tag"%>
      </div>
      <div class="">
        <%= f.input :tag_list, label: "Choose a matching category", as: :check_boxes, collection: @all_tags%>
      </div>
    </div>
    <%= f.input :photo, as: :file %>
    <div class="border my-3">
    </div>
    <div class="mb-2">
      <%= f.button :submit, value:"Upload my meme", class: "btn btn-success w-100" %>
    </div>
    <div>
      <%= link_to "Back to memestories", memes_path, class: "btn btn-dark w-100"%>
    </div>

  <% end %>
</div>
