<div class="memecard-container">

  <div class="meme-title">
    <p class='meme-title-font'><%= @meme.title%></p>
    <div class="user-name-logo mr-1 ">
      <i class="far fa-user mr-1 meme-title-font"></i>
      <p class="meme-title-font"> <%= current_user.username %> </p>
    </div>
  </div>

  <div class="meme-image">
      <%= cl_image_tag @meme.photo.key %>
  </div>

    <div class="meme-votes" data-controller="voter">
      <div class="upvote-container">
      <a data-action="click->voter#refresh">
        <%= link_to "", upvote_meme_path(@meme), class:"fas fa-angle-up ", method: :put, remote: true%>
      </a>

       <span class="upvote-count"data-target="voter.count">
        <%= @meme.get_upvotes.size %>
       </span>
      </div>

      <div class="downvote-container">
        <a data-action="click->voter#refresh">
          <%= link_to "", downvote_meme_path(@meme), class:"fas fa-angle-down ", method: :put, remote: true%>
        </a>

        <span class="upvote-count"data-target="voter.count">
          <%= @meme.get_downvotes.size %>
        </span>
      </div>

      <div class="display-tags">
        <% @meme.tag_list.each do |t| %>
          <p> <%= t %> </p>
        <% end %>

      </div>
      <div class="display-tags">
        <% @meme.usertag_list.each do |t| %>
          <p> <%= t %> </p>
        <% end %>

      </div>
    </div>

</div>
